@use '../variables' as *;
@use '../mixins' as *;

// Footer
.footer {
  background: $color-background;
  padding: $spacing-lg 0;
  text-align: center;
  border-top: 1px solid $color-secondary;

  p {
    color: $color-text-muted;
  }
}
