@use '../variables' as *;
@use '../mixins' as *;

// Mixin pour les pages simples
@mixin page-simple {
  @include page-base;

  h1 {
    font-size: $font-size-4xl;
    margin-bottom: $spacing-lg;
    @include gradient-text;
  }

  p {
    font-size: $font-size-large;
    color: $color-text-secondary;
    margin-bottom: $spacing-lg;
  }
}
